@model TaxCalculator.Central.Models.TaxCalculatorDTO

<div class="text-center">
    <h4>Your submitted tax calculation is as follows:</h4>
    <table class="table table-striped">
        <tr>
            <th>Annual Amount earned</th>
            <td>R @Math.Round(Model.AnnualAmount, 2)</td>
        </tr>
        <tr>
            <th>Total tax payable</th>
            <td>R @Math.Round(Model.TaxPayableAmount, 2)</td>
        </tr>
        <tr>
            <th>Net amount</th>
            <td>R @Math.Round(Model.NetAmount, 2)</td>
        </tr>
        <tr>
            <th>Postal Code</th>
            <td>@Model.PostalCode.PostalCode</td>
        </tr>
        <tr>
            <th>Tax calculation</th>
            <td>@Model.PostalCode.TaxCalculationType</td>
        </tr>
    </table>

    <h4>Your tax calculation is as follows:</h4>
    <table class="table table-striped">
        <tr>
            <th>Rate</th>
            <th>From</th>
            <th>To</th>
        </tr>
        @foreach(var item in Model.PostalCode.PostalCodeTaxRates)
        {
        <tr>
            <td> @(item.RateType == TaxCalculator.Central.Models.Enums.RateType.Percentage ? item.Rate + "%" : "R"  + item.Rate)</td>
            <td>R @Math.Round(item.FromValue, 2)</td>
            <td>@(item.ToValue == null ? "infinity" : "R"+ Math.Round(item.ToValue.Value, 2))</td>
        </tr>
        }
        
    </table>
    <div class="row m-0 p-0 text-left">
        <a class="btn btn-primary btn-sm" href="@Url.Action("EditTaxSubmission", "Home", new {rowGuid = Model.TaxInputGuid})"  style="max-width:100px">Edit</a>
        <a class="btn btn-sm btn-danger" href="@Url.Action("DeleteSubmittedTax", "Home", new {rowGuid = Model.TaxInputGuid})" style="max-width:100px">Delete</a>
    </div>
</div>